# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/packages/app/.pnp
.pnp.js

# testing
/packages/app//coverage

# next.js
/packages/app//.next/
/packages/app//out/

# production
/packages/app//build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# API Python
/packages/api/__pycache__
/packages/api/*.egg-info
/packages/api/*.db
/packages/api/tmp/
/packages/api/.coverage
/packages/api/htmlcov/
/packages/api/site/
/packages/api/venv/
/packages/api/.env
/packages/api/.history/
/packages/api/settings.json