/* FONTS */

/* /!\ WARNING this will only work on a proper deployement as it'll reuse the static files from the egapro/simulateur project */

/* gabriela-regular - latin */
@font-face {
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
  src: url(/static/media/gabriela-v8-latin-regular.3951562b.eot); /* IE9 Compat Modes */
  src: local("Gabriela Regular"), local("Gabriela-Regular"),
    url(/static/media/gabriela-v8-latin-regular.3951562b.eot?#iefix)
      format("embedded-opentype"),
     url(/static/media/gabriela-v8-latin-regular.badfdabe.woff2)
      format("woff2"),

      url(/static/media/gabriela-v8-latin-regular.9db49c8e.woff) format("woff"),
     url(/static/media/gabriela-v8-latin-regular.1c9cd380.ttf)
      format("truetype"),

      url(/static/media/gabriela-v8-latin-regular.cfd57c98.svg#Gabriela) format("svg"); /* Legacy iOS */
}

/* cabin-regular - latin */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url(/static/media/cabin-v14-latin-regular.491d2a5b.eot); /* IE9 Compat Modes */
  src: local("Cabin"), local("Cabin-Regular"),
    url(/static/media/cabin-v14-latin-regular.491d2a5b.eot?#iefix)
      format("embedded-opentype"),
     url(/static/media/cabin-v14-latin-regular.1f3cefe3.woff2)
      format("woff2"),
     url(/static/media/cabin-v14-latin-regular.ad0cf94d.woff)
      format("woff"),
     url(/static/media/cabin-v14-latin-regular.78773388.ttf)
      format("truetype"),

      url(/static/media/cabin-v14-latin-regular.44f981a2.svg#Cabin) format("svg"); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#eff0fa,#fff);
  color: #191A49;
  font-family: "Cabin",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 50rem;
  width: 100%;
}

.app-header {
  flex-shrink: 0;
  background: #fff;
}

.app-header__container {
  display: flex;
  align-items: center;
  font-family: Gabriela;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.skip-links {
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #f1f2fb;
  transform: translateY(-100%);
}

.skip-links:focus-within {
  height: auto;
  transform: translateY(0%);
}

.skip-links ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

.skip-links a {
  text-decoration: none;
  color: inherit;
  transition: color .2s ease-in-out;
}

.skip-links a:hover,
.skip-links a:focus {
  color: #6a6cd0
}

.app-header__container__logo {
  transition: opacity .2s ease-in-out;
}
.app-header__container__logo:hover {
  opacity: .5;
}

.baseline {
  margin-left: 2rem;
}

@media (min-width: 680px) {
  .baseline {
    flex-grow: 1;
    display: flex;
    justify-items: center;
  }
  .baseline__text {
    margin-left: 1rem;
    transform: translateY(.25rem);
  }
}

.baseline__title {
  align-items: center;
  display: flex;
  min-width: fit-content;
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.baseline__title:hover {
  color: #23246f;
}

.baseline__text {
  font-size: .7rem;
  line-height: 1.25
}

@media (max-width: 679px) {
  .baseline__text {
    margin: .25rem 0 0 0;
  }
}

.app-main {
  min-height: calc(100vh - 8.125rem + 1px);
  flex: 1 0 auto;
  padding-bottom: 10rem;
  padding-top: 3rem;
  background: transparent url('https://index-egapro.travail.gouv.fr/illustration-email.svg') no-repeat bottom right;
}

.app-main a:not(.button) {
  color: inherit;
  transition: color .2s ease-in-out;
}

.app-main a:not(.button):hover,
.app-main a:not(.button):focus{
  color: #696cd1;
}

.app-footer {
  flex-shrink: 0;
  border-top: #f1f2fb solid 1px;
  font-size: .88rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 680px) {
  .app-footer {
    display: flex;
  }
  .app-footer__logo {
    flex-shrink: 0;
    display: block;
    width: 5.625rem;
  }
  .app-footer__list-links {
    margin: 0 2rem;
    flex: 1 0 auto;
  }
  .app-footer__infos {
  }
}

@media (max-width: 679px) {
  .app-footer__logo {
    display: none;
  }

  .app-footer__list-links {
    margin: 0 0 1rem;
  }
}

.app-footer__list-links {
  list-style: none;
  padding: 0;
}

.app-footer a {
  color: inherit;
  transition: color .2s ease-in-out;
}

.app-footer a:hover {
  color: #696cd1;
}

.app-footer__list-links li:not(:last-child) {
  margin-bottom: .25rem;
}

.app-footer__infos {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 500;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset[disabled] {
  opacity: .5;
}

fieldset .row:first-child {
  margin-top: 0;
}

fieldset legend {
  padding: 0;
  margin: 0 0 0.25rem 0;
  font-weight: 500;
}

label {
  display: block;
  font-weight: 500;
  cursor: pointer;
  margin: 0 0 .5rem 0;
}

input[type=""],
input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=regex],
textarea,
select,
.fake-input {
  display: block;
  width: 100%;
  border-radius: .3rem;
  line-height: 1.25rem;
  padding: .625rem 1rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #9CA3AF;
}


input[type=""]:not([readonly]):focus,
input[type=text]:not([readonly]):focus,
input[type=email]:not([readonly]):focus,
input[type=number]:not([readonly]):focus,
input[type=date]:not([readonly]):focus,
input[type=regex]:not([readonly]):focus,
textarea:not([readonly]):focus,
select:not([readonly]):focus {
  border-color: #696cd1;
  outline: 3px solid rgba(105, 108, 209, .25);
  outline-offset: 2px;
  box-shadow: inset 0 0 0 1px #696cd1;
}

table input[type=""],
table input[type=text],
table input[type=email],
table input[type=number],
table input[type=date],
table input[type=regex],
table textarea,
table select,
table .fake-input {
  width: 100%; /* Fix all columns to be able to customize width. Acts even with max-width below */
}

.table-wrapper {
  background: #fff;
  border-radius:.3rem;
  border: 1px solid #e0e1e5;
  margin-bottom: 2rem;
  border-radius: .3rem;
}

table {
  min-width: 100%;
  border-collapse: collapse;
}

table thead th {
  text-align: left;
}

.table-wrapper table thead th:first-child,
.table-wrapper table tbody td:first-child {
  width: 8rem;
}

.table-wrapper table tbody tr:nth-child(odd) {
  background-color: #fbfcfe
}

table th,
table td {
  padding: 1rem .5rem
}

table th:first-child,
table td:first-child{
  padding-left: 1rem;
}


table th:last-child,
table td:last-child{
  padding-right: 1rem;
}

table th {
  border-bottom: 1px solid #e0e1e5;
}

.declaration-mode {
  margin: 0 0 2rem 0;
  padding: 1.5rem;
  background-color: #FDE68A;
  border-radius: .3rem;
}

.row {
  margin: 2rem 0;
  display: flex;
}
.row > * {
  flex-grow: 1;
}

.row > :not(:last-child) {
  margin-right: 1rem;
}

.row input[type=""],
.row input[type=text],
.row input[type=email],
.row input[type=number],
.row input[type=date],
.row input[type=regex],
.row textarea,
.row select,
.row .fake-input {
  max-width: 100%;
}

.wide {
  max-width: 100% !important;
  width: 100% !important;
}

progress {
  display: none;
}
progress + * {
  margin-left: 1rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem
}

button,
.button {
  display: inline-block;
  border-radius: .3rem;
  line-height: 1.25rem;
  padding: .625rem 1.5rem;
  font-size: 1rem;
  border: 1px solid #A8A9E4;
  color: #696cd1;
  background-color: rgba(255, 255, 255, .25);
  text-decoration: none;
  cursor: pointer;
  transition: background .2s ease-in-out, background .2s ease-in-out, border-color .2s ease-in-out;
}

.button:not([disabled]):hover, button:not([disabled]):hover,
.button:not([disabled]):focus, button:not([disabled]):focus {
  background: #E6E6F7;
  color: #23246f;
  border-color: #C7C8ED;
}

button:not([disabled]):focus,
.button:not([disabled]):focus {
  outline: 3px solid rgba(105, 108, 209, .25);
  outline-offset: 2px;
}

.multitable-actions {
  display: flex;
  margin: 1rem 0;
}
.multitable-actions :first-child {
  margin-right: 1rem;
}

button.add,
button.remove {
  background-color: transparent;
  display: block;
  padding: .3rem 1rem;
}
button.add::before {
  content: '+ ';
}
button.remove {
  color: #DC2626;
  border-color: #FCA5A5;
}
button.remove::before {
  content: 'x ';
}

button.remove:not([disabled]):hover,
button.remove:not([disabled]):focus {
  color: #7F1D1D;
  border-color: #FCA5A5;
  background: #FEE2E2;
}
button.remove:not([disabled]):focus {
  outline: 3px solid rgba(239, 68, 68, 0.25);
}

.button--primary {
  background-color: #696cd1;
  border-color: #696cd1;
  color: #fff;
}

.button--primary:not([disabled]):hover,
.button--primary:not([disabled]):focus{
  background: #23246f;
  border-color: #23246f;
  color: #fff;
}

.button--warning {
  color: inherit;
  background: #FCD34D;
  border-color: #FBBF24;
}

.button--warning:not([disabled]):hover,
.button--warning:not([disabled]):focus {
  background: #78350F;
  border-color: #78350F;
  color: #FFFBEB;
}
.button--warning:not([disabled]):focus {
  outline: 3px solid rgba(120, 53, 15, 0.25);
}

#toast {
  position: fixed;
  bottom: -100px;
  left: 0;
  padding-bottom: 20px;
  color: #fff;
  overflow-y: hidden;
  transition: bottom .3s ease-in-out;
  width: 100%;
  text-align: center;
}
#toast.visible {
  bottom: 0;
}
#toast .content {
  border-radius: 10px;
  padding: .8rem 1rem .8rem 2rem;
  background-color: #888;
  width: fit-content;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
}
#toast.error .content {
  background-color: #e11;
}
#toast.warning .content {
  background-color: #d81;
}
#toast .message {
  padding-right: 1rem;
}
#toast .close {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.year-2021-and-after,
.non-calculable {
  display: none;
}
.declaration-2021-and-after .year-2021-and-after {
  display: inline;
}
.declaration-2021-and-after.resultat-non-calculable .non-calculable {
  display: inline;
}
.declaration-2021-and-after .year-2020-and-before {
  display: none;
}

.entreprise, .ues {
  display: none;
}

.grow {
  flex-grow: 2;
}

.siren {
  width: 9em;
}

.fake-input {
  display: inline-block;
}

/** Tweaks and Hacks **/

/* Cursor not-allowed on readonly/disabled */
button[disabled],
a.button[disabled] {
  opacity: .5;
  box-shadow: none;
  cursor: not-allowed;
}

.readonly,
[readonly],
[disabled],
[disabled] * {
  cursor: not-allowed;
}

.readonly,
[readonly] {
  border-color: transparent;
}

.fake-input.readonly,
.fake-input[readonly],
input[readonly],
select[readonly],
textarea[readonly] {
  background: #dfdbea;
}

.fake-input[readonly]:focus,
input[readonly]:focus,
select[readonly]:focus,
textarea[readonly]:focus {
  outline: none;
}

input:not([type="radio"]):not([type="checkbox"]):read-only {
  cursor: not-allowed;
  border-width: 0;
}
input[type="radio"][disabled] {
  border-width: 0;
}

[type='radiogroup'] > *:first-child {
  margin-top: .125rem;
}

[type='radiogroup'] > *:last-child {
  margin-bottom: 0;
}

[type='radiogroup'] label {
  font-weight: 400;
}

/* "arrows" to increase/decrease numbers were asked to be removed */
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Spinner from https://tobiasahlin.com/spinkit/ */

.loader {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #696cd1;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  position: absolute;
  bottom: .5625rem;
  right: .5625rem;
  pointer-events: none;
  display: none;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.loader-wrapper {
  position: relative;
}
.loader-wrapper.loading .loader {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}


.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;

  
/* Objectifsde progression et mesures de correction */

.show-for-2021 {
  display: none;
}

.show-for-2021.year-2021-and-after {
  display: block;
}

.show-for-75-85, .show-for-0-75 {
  display: none;
}

#objectifs-mesures.index-between-75-and-85 .show-for-75-85 {
  display: block;
}

#objectifs-mesures.index-75-and-below .show-for-0-75 {
  display: block;
}

.legal-text {
  font-size: .9rem;
  color: #202020;
}